name: CI

on:
    push:
        branches: ["**"]
    pull_request:
        branches: ["**"]

jobs:
    build:
        runs-on: ubuntu-latest
        if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name != github.repository

        steps:
            - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
            - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4
              with:
                  version: 9
            - name: Use Node.js 22.x
              uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v4
              with:
                  node-version: 22.x
                  cache: "pnpm"
            - run: pnpm install --frozen-lockfile
            - name: Check types
              run: pnpm tsc --noEmit
            - name: Build
              run: pnpm run build
            - name: Lint
              run: pnpm run lint
            - name: Test
              run: pnpm run test
