name: CI

on:
    push:
        branches: ["**"]
    pull_request:
        branches: ["**"]

env:
    BUN_VERSION: "1.2.14"

jobs:
    build:
        runs-on: ubuntu-latest
        if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name != github.repository

        steps:
            - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
            - name: Setup Environment
              id: setup
              uses: ./.github/actions/setup-env
              with:
                  bun-version: ${{ env.BUN_VERSION }}
            - name: Check types
              if: (success() || failure()) && steps.setup.outcome == 'success'
              run: bun run typecheck
            - name: Build
              if: (success() || failure()) && steps.setup.outcome == 'success'
              run: bun run build
            - name: Lint
              if: (success() || failure()) && steps.setup.outcome == 'success'
              run: bun run lint
            - name: Test
              if: (success() || failure()) && steps.setup.outcome == 'success'
              run: bun run test:coverage

    e2e:
        needs: build
        runs-on: ubuntu-latest
        if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name != github.repository

        steps:
            - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd

            - name: Setup Environment
              id: setup
              uses: ./.github/actions/setup-env
              with:
                  bun-version: ${{ env.BUN_VERSION }}

            - name: Build Plugin
              run: bun run build

            - name: Setup Linux Environment
              run: |
                  sudo apt-get update
                  sudo apt-get install -y herbstluftwm

            - name: Cache Obsidian
              uses: actions/cache@v5
              with:
                  path: .obsidian-cache
                  key: obsidian-cache-${{ runner.os }}-${{ hashFiles('bun.lock', 'wdio.conf.mts') }}
                  restore-keys: |
                      obsidian-cache-${{ runner.os }}-

            - name: Run E2E Tests
              run: xvfb-run --auto-servernum --server-args="-screen 0 1280x1024x24" bash -c "herbstluftwm & bun run test:e2e"
