name: CI

on:
    push:
        branches: ["**"]
    pull_request:
        branches: ["**"]

jobs:
    build:
        runs-on: ubuntu-latest
        if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name != github.repository

        steps:
            - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
            - name: Install Bun
              uses: oven-sh/setup-bun@v2
              with:
                  bun-version: "1.2.14"
            - run: bun install
              id: install
            - name: Check types
              if: (success() || failure()) && steps.install.outcome == 'success'
              run: bun run typecheck
            - name: Build
              if: (success() || failure()) && steps.install.outcome == 'success'
              run: bun run build
            - name: Lint
              if: (success() || failure()) && steps.install.outcome == 'success'
              run: bun run lint
            - name: Test
              if: (success() || failure()) && steps.install.outcome == 'success'
              run: bun run test:coverage

    e2e:
        needs: build
        runs-on: ubuntu-latest
        if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name != github.repository

        steps:
            - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683

            - name: Install Bun
              uses: oven-sh/setup-bun@v2
              with:
                  bun-version: "1.2.14"

            - name: Install Dependencies
              run: bun install

            - name: Build Plugin
              run: bun run build

            - name: Setup virtual graphics
              run: |
                  # Some hacks to speed up apt install
                  sudo rm -rf /etc/apt/sources.list.d/*.list
                  echo "set man-db/auto-update false" | sudo debconf-communicate
                  sudo dpkg-reconfigure man-db

                  sudo apt-get update -q
                  sudo apt-get install -q herbstluftwm dzen2 x11-xserver-utils

                  export DISPLAY=:99
                  echo "DISPLAY=$DISPLAY" >> "$GITHUB_ENV"
                  Xvfb $DISPLAY -screen 0 1280x1024x24 +extension GLX -noreset &
                  sleep 1
                  herbstluftwm &
                  sleep 1

            - name: Run E2E Tests
              run: bun run test:e2e
