name: CI

on:
    push:
        branches: ["**"]
    pull_request:
        branches: ["**"]

jobs:
    build:
        runs-on: ubuntu-latest
        if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name != github.repository

        steps:
            - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v4
            - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4
              with:
                  version: 9
            - name: Use Node.js 22.x
              uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v4
              with:
                  node-version: 22.x
                  cache: "pnpm"
            - run: pnpm install --frozen-lockfile
              id: install
            - name: Check types
              if: (success() || failure()) && steps.install.outcome == 'success'
              run: pnpm tsc --noEmit
            - name: Build
              if: (success() || failure()) && steps.install.outcome == 'success'
              run: node esbuild.config.mjs production
            - name: Lint
              if: (success() || failure()) && steps.install.outcome == 'success'
              run: pnpm run lint
            - name: Test
              if: (success() || failure()) && steps.install.outcome == 'success'
              run: pnpm run test:coverage
            - name: Upload coverage
              uses: actions/upload-artifact@65462800fd760344b1a7b4382951275a0abb4808 # v4
              if: (success() || failure()) && steps.install.outcome == 'success'
              with:
                  name: coverage
                  path: coverage/
            - name: Report coverage
              if: (success() || failure()) && steps.install.outcome == 'success'
              run: pnpm tsx scripts/report-coverage.ts
