name: CI

on:
    push:
        branches: ["**"]
    pull_request:
        branches: ["**"]

jobs:
    build:
        runs-on: ubuntu-latest
        if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name != github.repository

        steps:
            - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
            - name: Install Bun
              uses: oven-sh/setup-bun@v2
              with:
                  bun-version: latest
            - run: bun install
              id: install
            - name: Check types
              if: (success() || failure()) && steps.install.outcome == 'success'
              run: bun run tsc --noEmit
            - name: Build
              if: (success() || failure()) && steps.install.outcome == 'success'
              run: bun run build
            - name: Lint
              if: (success() || failure()) && steps.install.outcome == 'success'
              run: bun run lint
            - name: Test
              if: (success() || failure()) && steps.install.outcome == 'success'
              run: bun run test:coverage
